[package]
name = "rust-server"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0"
axum = "0.7"
chrono = { version = "0.4", features = ["serde"] }
chrono-tz = "0.6"
cron = "0.8"
dotenv = "0.15"
fs2 = "0.4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sqlx = { version = "0.7", features = ["runtime-tokio", "postgres", "chrono"] }
tokio = { version = "1", features = ["full"] }
tokio-cron-scheduler = "0.5"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
reqwest = { version = "0.11", features = ["json","rustls-tls"] }  # if you opt to HTTPâ€POST yourself

[dependencies.lettre]
version = "0.11"
default-features = false
features = [
  "builder",
  "smtp-transport",
  "tokio1",
  "tokio1-native-tls",
]
